<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    <title>Untitled - {% block title %}Home{% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/main.css">
	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet" type="text/css">
</head>
<body>
    {% block navbar %}
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Project name</a>
            <div class="nav-collapse collapse">
            <ul class="nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            </div><!--/.nav-collapse -->
        </div>
        </div>
    </div>
    {% endblock %}
	<div class="container">
        {% block messages %}
        {% if flash.error or flash.success or flash.info %}
        <div class="alert {% if flash.error %}alert-error{% endif %} {% if flash.success %}alert-success{% endif %} alert-block">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <h4>Alert</h4>
            {% if flash.error[0] is not defined and flash.success[0] is not defined and flash.info[0] is not defined %}
                {{ flash.error | raw }}
                {{ flash.success | raw }}
                {{ flash.info | raw }}
            {% else %}
            <ul>
                {% for e in flash.error %}
                    <li>{{ e | raw }}</li>
                {% endfor %}
                {% for e in flash.success %}
                    <li>{{ e | raw }}</li>
                {% endfor %}
                {% for e in flash.info %}
                    <li>{{ e | raw }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>
        {% endif %}
        {% endblock %}
        {% block content %}{% endblock %}
    </div>

    {% block javascripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
	<script src="/js/main.js"></script>
	{% endblock %}
</body>
</html>
